body {
    font-family: 'Poppins', sans-serif;
}

.section-3 {
    background: #FEFCFB;
    padding: 120px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-3 .text-block .title {
    font-family: Volkhov, serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.section-3 .text-block .title span {
    color: #FA7436;
}

.section-3 .text-block .text {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 50px;
}

.section-3 .cards {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: 10px;
}

.section-3 .cards > div {
    border: 2px solid #efefef;
    border-radius: 20px;
    flex: 1;
    background: white;
}

.section-3 .cards .image {
    border-radius: 20px;
    height: 300px;
}

.section-3 .cards .card1 .image {
    background: url("../images/section3/pic1.svg");
    background-size: cover;
}

.section-3 .cards .card2 .image {
    background: url("../images/section3/pic2.svg");
    background-size: cover;
}

.section-3 .cards .card3 .image {
    background: url("../images/section3/pic3.svg");
    background-size: cover;
}

.section-3 .cards .card4 .image {
    background: url("../images/section3/pic4.svg");
    background-size: cover;
}

.section-3 .line1 {
    display: flex;
    padding: 20px 20px 0 20px;
    align-items: center;
    justify-content: space-between;
}

.section-3 .line1 .title {
    font-size: 24px;
    font-weight: bold;
}

.section-3 .star-block {
    display: flex;
    gap: 10px;
}

.section-3 .line2 {
    display: flex;
    padding: 20px;
    justify-content: space-between;

}

.section-3 .map-block {
    display: flex;
    gap: 5px;
}

.section-3 .price-block {
    display: flex;
    gap: 10px;
    text-align: center;
}
.section-3 .price-block .price {
    text-decoration: line-through;
}

.section-3 .price-block .price-new {
    border: 1px solid #FA7436;
    border-radius: 5px;
    background: #FA7436;
    padding: 0 3px;

}

.section-3 .card .title {
    padding-right: 60px;
    font-size: 24px;
    font-weight: bold;
}

.section-3 .button-block .btn-left {
    border: 2px solid #d1c7c7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.section-3 .button-block .btn-right {
    border: 2px solid #FA7436;
    background: #FA7436;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.section-3 .button-block {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}