body {
   
    font-family: 'Poppins', sans-serif;
}

.second-section {
    background: #F7F8FC;
    padding: 100px 0; /*сверху снизу по 100 слева справа 0 */
}

.container {
    width: 1200px;
    margin: 0 auto; /*поставили все содержимое контейнера по центру*/
}

.text-and-planes-block  {
    position: relative; 
}

.text-and-planes-block img {
    position: absolute;
    left: 80%
}

.text-and-planes-block .title {
    text-align: center;
    font-size: 48px;
    font-family: Volkhov;
    font-weight: bold;
    margin-bottom: 40px;
}
.text-and-planes-block .span {
    color: red;
}

.text-and-planes-block .text {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 50px;
}

.second-section .cards {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.second-section .cards > div {              
   border: 1px solid white;          /*обращаемся к первому диву в cards по сути к title*/
  background-size: cover;
   padding: 20px;
}                                  

.second-section .cards .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.second-section .cards > div:first-child {
background: url("../../images/section2/sq1.svg") no-repeat, white;
}

.second-section .cards > div:nth-child(2) {
background: url("../../images/section2/sq2.svg") no-repeat, white;
   
}

.second-section .cards > div:nth-child(3) {
background: url("../../images/section2/sq3.svg") no-repeat, white;
}

