body {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgba(246, 244, 244, 0.99);

}
.main-section {
    padding-top: 30px;
    width: 1200px;
    /* width: auto; */
    margin-left: auto;
    margin-right: auto;
    background:#FEFCFB;
   
    
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;


}
.header .logo {
    display: flex;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: Volkhov;
    align-items: center;
}
.header .logo img {
    height: 20px;
}
.header .menu {
    display: flex;
    justify-content: space-between;
   font-size: 16px;
    gap: 50px;
    align-items: center;
}
.header .sign-up-block {
    display: flex;
    gap: 60px;
    align-items: center;
}
.header .sign-up-block .links {
    color: #FA7436;
}
.header .button {
    border: 1px solid #FA7436;
    border-radius: 5px;
    background: #FA7436;
    color: white;
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central-block {
    display: flex;

    align-items: center;
    gap: 60px;
    /*justify-content:space-between;*/

}
.central-block .text-block {
    flex: 1;
    /*flex-shrink: 0;*/

}
.central-block .title {
    font-family: Volkhov;
    font-size: 64px;
    font-weight: bold;
    line-height: 110%;
    text-align: start;
    margin-bottom: 50px;



}
.central-block .text {
    font-size: 20px;
    margin-bottom: 50px;tt log
    line-height: 200%;


}
.central-block .button {
    font-size: 14px;
    color: #FA7436 ;
    border: 1px solid #FA7436;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central-block .text-block {
}
.central-block .image {
    flex: 1;
    width: 100px;
}
.bottom-menu .menu-line1 {
    display: flex;

}
.bottom-menu {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;



    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/
}
.bottom-menu .button {
    border: 1px solid #FA7436;
    border-radius: 5px;
    background: #FA7436;
    height: 60px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .menu1-line1 {
    font-size: 16px;
     font-weight: bold;
     display: flex;
     gap: 6px;
}
 .menu2-line1 {
     font-size: 16px;
     font-weight: bold;
     display: flex;
     gap: 6px;

 }
 .menu3-line1 {
     display: flex;
     font-size: 16px;
     font-weight: bold;
     gap: 6px;

 }

 .menu1-line2 {
     font-size: 12px;
     margin-top: 10px;
 }
 .menu2-line2 {
     font-size: 12px;
     margin-top: 10px;
 }
 .menu3-line2 {
     font-size: 12px;
     margin-top: 10px;
 }

 .bottom-menu .menu {
     display: flex;
     gap: 150px;
 }


 span {
     color: #FA7436;
 }