body {
    font-family: 'Poppins', sans-serif;
}

.section-2 {
    background: #F7F8FC;
    padding: 120px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-2 .text-blocks {
    position: relative;
}

.section-2 .text-blocks .title {
    font-family: Volkhov, serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.section-2 .text-blocks .title span {
    color: #FA7436;
}

.section-2 .text-blocks .text {
    font-size: 18px;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
    color: #666;
}

.section-2 .text-blocks img {
    position: absolute;
    right: 100px;
}

.section-2 .cards {
    display: flex;
    margin-top: 80px;
    gap: 30px;
}

.section-2 .cards > div {
    background-size: cover;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #efefef;
}

.section-2 .cards > div:first-child {
    background: url("../../images/section2/sq1.svg") no-repeat, white;
}

.section-2 .cards > div:nth-child(2) {
    background: url("../../images/section2/sq2.svg") no-repeat, white;
}

.section-2 .cards > div:nth-child(3) {
    background: url("../../images/section2/sq3.svg") no-repeat, white;
}

.section-2 .card .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-2 .card .text {
    color: #666;
}
